<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.tts.sample"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />
    <!-- 集成时请添加下列权限 -->
    <!-- 测试完成后，您自己的appId appKey secretKey 请在 SynthActivity 和 MiniActivity 中修改 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.baidu.tts.sample.MainActivity">
            <!-- 这里改成MiniActivity 或者 SynthActivity 可以直接启动识别 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baidu.tts.sample.SynthActivity"
            android:label="离在线语音合成" />
        <activity
            android:name="com.baidu.tts.sample.MiniActivity"
            android:label="精简版合成" />
        <activity
            android:name="com.baidu.tts.sample.SaveFileActivity"
            android:label="保存合成后的音频" />
    </application>

</manifest>